.button {
    width: 80%;
    margin-left: 10%;
    height: 40px;
    background-color: #303030;
    border: 1px solid #444;
    color: #fff!important;
}

.active-button {
    z-index: 3;
    background-color: #00efb2;
    border-color: transparent;
    
}