.menu-nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 77%;
  height: 80px;
  font-size: 24px;
  flex-wrap: wrap;
  margin-left: 10%;
  margin-bottom: 0px;
  margin-top: -15px;
  border-radius: 5px;
  background-color: #00bc8cb3;
  border-color: #007c5d;
  color: #fff;
}

.active {
  z-index: 3;
  background-color: #00efb2;
  border-color: transparent;
  
}


@media (min-width: 600px) and (max-width: 1050px) {
  .menu-nav { 
    font-size: 20px;
  }
}

@media (min-width: 400px) and (max-width: 599px) {
  .menu-nav { 
    font-size: 18px;
  }
}


@media all and (max-width: 399px) {
  .menu-nav { 
    font-size: 14px;
  }
}